@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #050505;
    user-select: none;
    overflow-y: hidden;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #00ff41;
}

ul {
    list-style: none;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.cyber-grid {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: -1;
}

.cyber-grid::before {
    content: "";
    position: absolute;

    width: 300%;
    height: 300%;

    left: -100%;
    top: -100%;

    background-image:
        linear-gradient(rgba(0,255,255,.3) 2px, transparent 2px),
        linear-gradient(90deg, rgba(0,255,255,.3) 2px, transparent 2px);

    background-size: 80px 80px;

    transform: perspective(800px) rotateX(80deg);

    animation: moveGrid 4s linear infinite;
}

@keyframes moveGrid {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 80px;
    }
}

.nav__list {
    display: flex;
    justify-content: space-evenly;
    gap: 85rem;
    font-family: "VT323", monospace;
}

.nav__link {
    font-size: 2.5rem;
    margin-top: 3rem;
}

.hero__text {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    align-items: center;
    text-align: center;
    cursor: default;
}

.hero__title {
    font-family: "VT323", monospace;
}

.hero__sub {
    font-family: "Archivo Black", sans-serif;
    margin-bottom: 5rem;
    min-height: 200px;
    color: green;
}

.cyber-text {
    color: #00ff41;
    animation: flicker 3s infinite;
    text-shadow:
        0 0 1px #00ff41,
        0 0 1px #00ff41,
        0 0 10px #00ff41;
}

@keyframes flicker {
    0%,100% {
        opacity: 1;
    }

    50% {
        opacity: 0.95;
    }

    52% {
        opacity: 0.8;
    }

    54% {
        opacity: 1;
    }
}

.cyber-btn {
    display: inline-flex;
    align-items: center;
    gap: 15px;

    margin-top: 40px;
    padding: 15px 30px;

    font-family: "VT323", monospace;
    font-size: 2rem;

    color: #00ff41;
    text-decoration: none;

    border: 2px solid #00ff41;
    background: rgba(0, 255, 65, 0.05);

    text-shadow: 0 0 10px #00ff41;
    box-shadow:
        0 0 10px rgba(0,255,65,.3),
        inset 0 0 10px rgba(0,255,65,.2);

    transition: .3s;
}

.cyber-btn:hover {
    background: rgba(0,255,65,.15);

    box-shadow:
        0 0 20px #00ff41,
        inset 0 0 20px rgba(0,255,65,.3);
}

.arrow {
    transition: .3s;
}

.cyber-btn:hover .arrow {
    transform: translateX(10px);
}

.hero__btn {
    justify-self: center;
    margin-bottom: 15rem;
}

.nom__card {
    color: white;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-bottom: 10rem;
}

.card__title {
    align-self: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-family: "Archivo Black", sans-serif;
    margin-top: 2rem;
}

.card__hr {
    margin-bottom: 3rem;
    border: 2px solid  #00ff41;
    width: 500px;
    align-self: center;
}

.card__img img {
    width: 500px;
    border-radius: 15px;
}

.card__img {
    background-color: rgba(0, 0, 0, 0.164);
    padding: 2rem 2rem;
    border-radius: 15px;
}

.card__content {
    display: flex;
    gap: 14rem;
}

.card__text {
    text-align: center;
    align-self: center;
    width: 800px;
}

.card__name {
    font-size: 4rem;
    font-family: "Archivo Black", sans-serif;
    margin-bottom: 3rem;
}

.card__sub {
    font-family: "Archivo Black", sans-serif;
    font-size: 2rem;
}

.next-btn {
    position: fixed;
    right: 2%;
    bottom: 3%;
    font-size: 2rem;
    z-index: 2;
    padding: 0.5rem 1rem;
    opacity: 0;
    visibility: hidden;
}

.back-btn {
    opacity: 0;
    transform: translateY(20px);
    transition: .5s;
}

.back-btn.show {
    opacity: 1;
    transform: translateY(0);
}

.nom__2 > .card__content {
    flex-direction: row-reverse;
}

.video-modal {
    position: fixed;
    inset: 0;

    background: rgba(0,0,0,.95);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;

    transition: .4s;

    z-index: 9999;
}

.video-modal.active {
    opacity: 1;
    visibility: visible;
}

.video-modal iframe {
    width: 90vw;
    height: 90vh;

    border: 2px solid #00ff41;

    box-shadow: 0 0 30px #00ff41;
}

.close-video {
    position: absolute;
    right: 15px;
    top: 6px;
    font-size: 1rem;
    color: #00ff41;
    background: none;
    border: 2px solid #00ff41;
    cursor: pointer;
    padding: 1rem 1.2rem;
}